<form [formGroup]="recipeForm">
    <section>
        <div>
            <label for="title">Title</label>
        </div>
        <div>
            <input type="text" id="title" formControlName="title">
        </div>
    </section>
    <section>
        <div>
            <label for="image">Image</label>
        </div>
        <div>
            <input type="text" id="image" formControlName="image">
        </div>
    </section>
    <section>
        <div>
            <input type="text" id="ingredients" placeholder="Add an ingredient" formArrayName="ingredients">
            <button type="button" (click)="addIngredient()"> + </button>
        </div>
        <div>
            <label for="ingredients">Ingredients</label>
        </div>
        <div>
            <ol>
                <li><button type="button"> X </button></li>
            </ol>
        </div>
    </section>
    <section>
        <div>
            <label for="instruction">Instructions</label>
        </div>
        <div>
            <textarea id="instruction" cols="50" rows="20" formControlName="instruction"></textarea>
        </div>
    </section>
    <section>
        <button type="button" (click)="back()">Back</button>
        <button type="button" (click)="addRecipe()">Add to Library</button>
    </section>
</form>