<div>
    <section>
        <h2>{{ recipe?.title }}</h2>
    </section>
    <section>
        <img src={{recipe?.image}} alt="Image of {{recipe?.title}}" height="250">
    </section>
    <section>
        <h3>Ingredients</h3>
        <ol>
            <li *ngFor="let ingredient of recipe?.ingredients">{{ingredient}}</li>
        </ol>
    </section>
    <section>
        <h3>Instruction</h3>
        <div>{{recipe?.instruction}}</div>
    </section>
    <section>
        <button type="button" [routerLink]="['back']">Back</button>
    </section>
</div>